:root {
  --color: #2196f3;
  --white: #ffffff;
  --blue: #2196f3;
  --gray: #ffffff99;
  --dark: #2f303a;
  --black: #000000;
  --tekststyle:#212121;
  --pagesignature: #757575;
  --imagesstyle: #212121;
  --background-color: #F5F4Fa;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

.logoheader {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}
.webstyle {
  color: var(--color);
}

.studiostyl {
  color: var(--black);
}
 .about-us {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 2%;
  text-decoration: none;
  color: var(--black);
}
.about-us:hover {
  color: var(--color);
}
.about-us-link {
  color: var(--black);
}

.contact {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 2%;
  text-decoration: none;
}

.contactlink {
  color: var(--pagesignature);
}

.contactlink:hover,
.contactlink:focus {
  color: var(--blue);
}

.main {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 3%;
}
.main button{
    color: var(--black);
}
.main button :hover {
background-color: var(--blue);
  color: var(--white);
}
  
.text-style {
  font-family: "Roboto", sans-serif;
  font-style: Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
  color: var(--tekststyle)
  text-decoration: none;
}
.page-signature {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 3%;
  color: (var(--pagesignature))
}

.logofooter {
  width: 1600px;
  height: 252px;
  background-color: var(--dark);
}
.webcolor {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 3%;
  color: var(--color);
}
.studiocolor {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 3%;
  color: var(--white)
}
.adres-contact {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 3%;
  color: var(--white);
}
.images-style {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 6%;
  text-align: center;
  color: var(--imagesstyle)
}

.position {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: (var(--pagesignature))
}
.h1-style {
  background-color: var(--dark)
}
.h1-style h1{  
  font-family: "Roboto", sans-serif;
  width: 696;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 6%;
  color: var(--white);
  background-color: var(--dark);
}
.main button {
  color: var(--black);
}
.main button:hover {
  background-color: var(--blue);
  color: var(--white);
}
.h1-style button{
  color: var(--white);
  background-color: var(--color);

}
.h1-style button:hover {
  background-color: var(--blue);
  color: var(--white);
}
.contact-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 3%;
}
.footer-link {
  color: var(--white)
}

.background-style {
  background-color: var(--dark);
}
.our-team {
  background-color: var(--background-color)
}